body {
    margin: 0;
    font-family: arial, sans-serif;
    line-height: 1.5;
    color: green;
    font-family: 'Rubik', sans-serif;
    padding: 0px;

}

p {
    text-align: right;
    color: black
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.container {
/*
    display: table;
*/
    background: #f6faff;
    max-width: 900px;
    margin: auto;
}

.logo {
  font-size: 24px;
  margin: auto;
  display: table;
}
.logo img {
  display: block;
  margin: auto;
}
.about {
    
  background: url() center;
  background-size: cover;
  color: #0d1005;
  text-align: center;
}