body{
  margin: 0;
  font-family: arial, sans-serif;
  line-height: 1.5;
  color: green;
  font-family: 'Rubik', sans-serif;

}
p{
      color: black
}
img {
  max-width: 30%;
  width: auto;
  height: auto;
}